{% extends 'layout.twig' %}
{% block content %}
    <div class="featured">
        <h1>Featured Crypto</h1>
        <table class="featured-table">
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Price</th>
                <th>Change in 1 hour</th>
                <th>Change in 24 hours</th>
                <th>Change in 7 days</th>
            </tr>
            {% for cryptoCurrency in cryptoCurrencies %}
                <tr>
                    <td><a href="/crypto/{{ cryptoCurrency.symbol }}">{{ cryptoCurrency.symbol }}</a></td>
                    <td>{{ cryptoCurrency.name }}</td>
                    <td>{{ cryptoCurrency.price|number_format(2) }}$</td>
                    <td>{{ cryptoCurrency.percentChange1h|number_format(2) }}%</td>
                    <td>{{ cryptoCurrency.percentChange24h|number_format(2) }}%</td>
                    <td>{{ cryptoCurrency.percentChange7d|number_format(2) }}%</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
