{% extends 'layout.twig' %}
{% block content %}
    <div class="profile">

        <div class="profile-balance">
            <h1>Your balance is {{ auth.money|number_format(2) }}$</h1>
        </div>

        <div class="profile-stuff">
            <div class="transfer-profile">
                <div class="profile-title">
                    <h2 >Transfer Crypto</h2>
                </div>
                <div>
                    <form action="/profile" method="post">
                        <label for="user">User: </label>
                        <input type="text" id="user" name="user" placeholder="CRYPTO BRO" required>
                        <input type="submit" value="Search">
                    </form>
                </div>
            </div>

            <div class="wallet-coins">
                <div class="profile-title">
                    <h2>Your Crypto Wallet</h2>
                </div>

                <table class="featured-table">
                    <tr>
                        <th>Crypto coin</th>
                        <th>Amount</th>
                        <th>Average price when bought</th>
                    </tr>
                    {% for userCoin in userCoins %}
                        <tr>
                            <td><a href="/crypto/{{ userCoin.symbol }}">{{ userCoin.symbol }}</a></td>
                            <td>{{ userCoin.amount }}</td>
                            <td>{{ userCoin.originalPriceAverage|number_format(2) }}$</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}